@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700&subset=cyrillic,cyrillic-ext');

body {
  background-color: #DAF8FF;
  font-family: 'Montserrat', sans-serif;
  /*background-image: url(../images/bg.png);*/
}
.wrapper {
  padding: 20px 0 0 0;
}
/* Menu header css start */

.nav-link {
  color: #171717;
  cursor: pointer;
}
.nav-link{
  margin-right: 1em !important;
  border-bottom: 1px solid rgba(0, 0, 0, 0);
}
.nav-link:hover{
  color: #000000;
  border-bottom: 1px solid black;
}
.navbar-collapse{
  justify-content: flex-end;
}
.navbar-toggler{
  background:rgba(0, 0, 0, 0) !important;
}

.navbar-brand {
  background-color: #70615f;
  color: #ffffff;
  font-weight: 700;
  padding: 5px 15px;
  border-radius: 10px;
  letter-spacing: 2px;
}

/* Menu header css end */

.about{
  margin: 1em 0;
  padding: 1em;
  position: relative;
}
.about h3 {
  margin-top: 50px;
  font-size: 2rem; 
}
.about img{
  width: 50%;
}

.about p{
  margin-top: 1rem;
}
.about button{
  border: none;
  background:#F24841;
  color:#fff;
  font-weight: 700;
  letter-spacing: 1px;
  border-radius: 20px;
  padding: 5px 25px;
}

.about button:hover{
  background:#ef2d25;
}

.price button{
  border: none;
  background:#F24841;
  color:#fff;
  font-weight: 700;
  letter-spacing: 1px;
  border-radius: 20px;
  padding: 5px 25px;
}

.price button:hover{
  background:#ef2d25;
}

.text-orange {
  color: #FF5400;
}
/* About end */




.price {
  margin: 3em 0;
  
}

.h4{
  margin-bottom: 2.5rem;
}

.price p{
  margin-bottom: 8px;
}

.text-price {
  margin-left: 15px;
}

.money-price {
  color: #025C00;
}

.partners-logo {
  background-color: #00AD5D;
  color: #ffffff;
  padding: 5px 10px;
  border-radius: 1px 15px;
  font-weight: 700;
  font-size: 22px;
}

.margin-bottom-5 {
  margin-bottom: 1rem;
}



.partners-p {
 font-weight: 300;
}



.partners-bold {
  font-weight: 700;
}

.red {
  background-color: #F24841;
}

.red-text {
  color: #E10000;
}

.img-parnters {
  border: 2px solid #006981;
}



/* Small devices (landscape phones, 576px and up)*/
@media only screen and (max-width: 576px) { 

}

/* Medium devices (tablets, 768px and up)*/
@media only screen and (max-width: 768px) { 

.price button {
  margin: 20px 40px;
  font-size: 20px;
}

.about button{
  font-size: 24px;
}


.partners-logo{
  font-size: 35px;
}

}

/* Large devices (desktops, 992px and up)*/
@media only screen and (max-width: 992px) { 
}

/* Extra large devices (large desktops, 1200px and up)*/
@media only screen and (max-width: 1200px) { 
}

/* Media end */